<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.image{
    font-size: 62px;
}
nav ul {
    display: flex;
    align-items: center;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}
.nav-title{
    font-weight: 800;
    font-size: 2rem;
}
nav ul li {
    list-style: none;
    margin-right: 45px;
}
nav li a {
    text-decoration: none;
    font-size: 1.4rem;
}
.color-1{
    color: #FEA301;
    font-weight: bold;
}
.color-2{
    color: #01ACFD;
    font-weight: bold;
}
.color-3{
    color: #05D4DF;
    font-weight: bold;
}
.color-4{
    color: #5D58EF;
    font-weight: bold;

}
.button{
    background-color: #FEA301;
    font-weight: 500px;
    color: #FFFFFF;
    padding: 10px 60px;
    border-radius: 12px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 141px 0 141px;
    max-width: 1158px;
    max-height: 575px;
}
.banner-content{
    max-width: 640px;
    margin-top: 122px;
    min-width: 12px;
    margin-bottom: 20px;
}
.banner-title{
    font-size: 3.8rem;
    font-weight: bold;
}
.banner-pic{
    width: 468px;
    height: 575px;
    
}
.banner-description{
    font-weight: 400;
    height: 50px;
}
.btn-primary{
    background-color: #111111;
    font-weight: 197px;
    color: #FFFFFF;
    padding: 10px 50px;
    border-radius: 12px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.flex{
    display: flex;
    justify-content: center;
    font-weight: 700;  
}
.fact{
    border: 2px solid #DEF5FF;
    width: 376px;
    height: 340px;
    border-radius: 18px;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.img{
    width: 1440px;
    height: 882px;
}
.fact-img{
    width: 130px;
    height: 111px;
}
.fact-div{
    display: flex;
    justify-content: center;   
    font-weight: 600;
}
.fact-p{
    display: flex;
    justify-content: center;
    border-width: #808080;
    
}

.button1{
    font-weight: 600;
    background-color: #64C8FF;
}
.button2{
    font-weight: 600;
    background-color: #F0AA00;
}
.button3{
    font-weight: 600;
    background-color: #8700FF;
}
@media screen and (max-width: 576px) {
    .nav, .banner{
        flex-direction: column;
    }
    .fact{
        justify-items: center;
    }
}
